# SERVIDOR
PORT=4000

# POSTGRESQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ventas_taller3
DB_USER=ventas_app
DB_PASSWORD=CAMBIAR_CONTRASENA

# AUTENTICACION
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_SEGURO
CLAVE_ADMIN=CAMBIAR_CLAVE_ADMIN
CLAVE_PEDIDOS=CAMBIAR_CLAVE_PEDIDOS
SUPER_ADMIN_PASSWORD=CAMBIAR_CONTRASENA_ADMIN

# MAILTRAP EMAIL SANDBOX
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=COLOCAR_USUARIO_MAILTRAP
SMTP_PASS=COLOCAR_PASSWORD_MAILTRAP

EMAIL_FROM=notificaciones@novatech.test
ADMIN_EMAIL=administrador@novatech.test

# INSTRUCCIONES DE PAGO
PAGO_INSTRUCCIONES=Transferencia bancaria de prueba. Contacta al administrador.
